<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body style="background-color: aquamarine;">
    <div style="background-color: brown;">    
        <h1>Bienvenido a la app de notas</h1>
    </div>

    <div style="display: flex; justify-content: center; gap: 40px; margin-top: 20px;">
        <a href="/formulario">Cargar nueva nota</a>
        <a href="/notas">Listado de notas</a>
        <a href="/informe1">Informe 1</a>
        <a href="/informe2">Informe 2</a>
        <a href="/informe3">Informe 3</a>
        <a href="/informe4">Informe 4</a>

    </div>
</body>
</html>
